.react{
    &-tabs{
        &__tab{
            display: flex;
            justify-content: center;
            width: 100%;
            color: $color-grey-a-1;
            background-color: $color-primary-1;
            transition: all .2s;
            padding: 1.3rem 1.6rem;
            outline: none;
            &:hover{
                cursor: pointer;
                background-color: $color-accent-2;
                box-shadow: 0 2px 4px rgba($color-accent-2, .2);
                transform: translateY(-2px);
            }
            &:focus{
                background-color: $color-accent-1;
                
            }
            &:active{
                transform: translateY(1px);
            }
            &-list{
                list-style-type: none;
            }
           
        }

        &__tab{
            &--selected{
                box-shadow: 0 2px 4px rgba($color-primary-2, .4);
                background-color: $color-accent-1;
                transform: translateY(1px);
                &:hover{
                    background-color: $color-accent-1;
                    box-shadow: 0 2px 4px rgba($color-accent-2, .2);
                    transform: translateY(1px);
                }
            }
        }
    }
}