.content{
    margin-left: 12rem;
    position: relative;
    @include respond(md){
        margin-left: 0;
    }
    
    &__title{
        & > * {
            font-weight: 500;
        }
        &--name{
            font-size: 5.8rem;
            
            @include respond(md){
                font-size: 4.8rem;
            }
            @include respond(xs){
                font-size: 3.6rem;
            }
        }
        &--slash{
            width: .5rem;
            height: 8rem;
            background-color: $color-primary-1;
            transform: rotate(45deg);
            margin: 0 3rem 0 4rem;
            @include respond(md){
                display: none;
            }
        }
        &--job{
            font-size: 4.2rem;
            color: $color-accent-1;
            @include respond(md){
                font-size: 3.6rem;
            }
            @include respond(xs){
                font-size: 2.8rem;
            }
        }

        &-box{
            display: flex;
            align-items: flex-end;
            color: $color-grey-a-1;
            margin-bottom: 6rem;
            @include respond(md){
                margin-bottom: 0;
                display: block;
                position: absolute;
                top: -32rem;
                left: 35rem;
            }
        }
    }

    &__content{
        &-box{
            height: 100%;
            width: 100%;
            position: relative;
            margin-bottom: 3rem;
        }
    }

    &__underlay{
        z-index: -1;
        height: inherit;
        width: 90%;
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
        &--primary{
            @include color-gradient-primary-1;
        }
    }

    &__paragraph{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        &-box{
            padding: 3.6rem 4.2rem;
            
            &--primary{
                color: $color-grey-a-1;
                background-color: $color-primary-5;
            }
        }
    }
    &__btn {
        font-size: 2rem;
        padding: 1.6rem 4rem;
        
    }
}