.projects{
    margin: 0 4rem;
    @include respond(xs){
        margin: 0;
    }
    &__links{
        @include button-reset;
        font-size: 3.6rem;
        text-align: center;
        color: #fff;
        &--content{
            font-weight: 500;
            &:hover{cursor: pointer;}
        }
        

        &-box{
            margin: 4rem 4rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-column-gap: 7.5rem;
            grid-row-gap: 3rem;
        }
    }
    &__section{
        margin-bottom: 4rem;
    }
    
}

.project-card{
    display: flex;
    flex-direction: column;
    color: $color-grey-a-1;
    padding: 3.6rem 4.8rem;
    box-shadow: $shadows-4;
    position: relative;
    height: 100%;
    width: 100%;
    border-left: solid 1rem $color-primary-1;
    border-right: solid 30rem $color-primary-1;
    @include respond(md){
        border-right: solid 20rem $color-primary-1;
    }
    @include respond(xs){
        border-right: solid 10rem $color-primary-1;
    }
    &__title{
        &-box{
            margin-bottom: 2rem;
        }
        &--sub{
            color: $color-grey-a-3;
            &-box{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
                grid-gap: 1.5rem;
            }
        }
    }

    &__button-box{
        display: flex;
    }
    &__list{
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
        &--title{
            width: 16.2rem;
            height: 15.9rem;
            & > * {
                line-height: 2;
            }
        }

        &--content{
            margin: 4rem 0;
        }

        &-item{
            & h3{
                margin-bottom: 2rem;
                color: $color-primary-1;
            }
        }
    }   

    &__exit{
        @include button-reset;
        height: 4.5rem;
        width: 4.5rem;
        position: absolute;
        border: none;
        top: 1rem;
        right: -29rem;
        z-index: 2;
        background-image: url(../../assets/design/Exit/Exit.svg);
        background-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
        @include respond(md){
            right: -19rem;
        }
        @include respond(xs){
            height: 6.5rem;
            width: 6.5rem;
            right: -8.5rem;
        }
        &:hover{
            cursor: pointer;
        }
        
    }
}

.read-time{
    font-size: 1.2rem;
    margin-top: 1.2rem;
}