.react{
    &-tabs{
        &__tab{
            display: flex;
            justify-content: center;
            width: 100%;
            color: $color-grey-a-1;
            background-color: $color-primary-1;
            transition: all .2s;
            padding: .6rem 1.6rem;
            &:hover{
                cursor: pointer;
                background-color: $color-primary-2;
                box-shadow: 0 2px 4px rgba($color-primary-2, .2);
                transform: translateY(-1px);
            }
            &:focus{
                outline: none;
            }
            &-list{
                list-style-type: none;
            }
           
        }

        &__tab{
            &--selected{

                box-shadow: 0 2px 4px rgba($color-primary-2, .2);
                background-color: $color-primary-2;
            }
        }
    }
}